# Radio remote control systemd script
# $Id: ireventd.service,v 1.3 2023/07/22 15:58:19 bob Exp $

# It uses ireventd.py and ir_daemon.py (Daemon) 
# This file is copied to /lib/systemd/system/ireventd.service 

[Unit]
Description=Radio remote control daemon
After=network.target

[Service]
Type=simple
ExecStart=/usr/share/radio/ireventd.py nodaemon
ExecStop=/usr/share/radio/ireventd.py stop

[Install]
WantedBy=multi-user.target
