# Radio remote control systemd script
# $Id: irradiod.service,v 1.2 2021/10/02 08:59:31 bob Exp $
[Unit]
Description=Radio remote control daemon
After=network.target

[Service]
Type=simple
ExecStart=/usr/share/radio/remote_control.py nodaemon
ExecStop=/usr/share/radio/remote_control.py stop

[Install]
WantedBy=multi-user.target
