# Radio remote control systemd script
# $Id: irradiod.service,v 1.1 2020/10/10 15:03:21 bob Exp $
[Unit]
Description=Radio remote control daemon
After=network.target

[Service]
Type=simple
ExecStart=/usr/share/radio/remote_control.py nodaemon

[Install]
WantedBy=multi-user.target
