# Radio systemd script
# $Id: radiod.service,v 1.1 2020/10/10 15:00:46 bob Exp $
[Unit]
Description=Radio daemon
After=network.target

[Service]
Type=simple
ExecStart=/usr/share/radio/radiod.py nodaemon
#Restart=on-failure
#RestartSec=5s

[Install]
WantedBy=multi-user.target
