# Radio systemd script
# $Id: radiod.service,v 1.8 2025/10/24 18:42:26 bob Exp $
[Unit]
Description=Radio daemon
After=network.target

[Service]
Type=simple
ExecStart=/usr/share/radio/radiod.py nodaemon
PIDFile=/run/radiod.pid
#Restart=on-failure
#RestartSec=5s

[Install]
WantedBy=multi-user.target
