# Radio systemd script
# $Id: radiod.service,v 1.5 2020/08/19 11:22:20 bob Exp $
[Unit]
Description=Radio daemon
After=network.target

[Service]
Type=simple
ExecStart=/usr/share/radio/radiod.py nodaemon
#Restart=on-failure
#RestartSec=5s

[Install]
WantedBy=multi-user.target
