# Weather 2 program systemd script 
# $Id: weather2.service,v 1.2 2024/07/28 10:51:18 bob Exp $

# It uses weather2.py program 
# This file is copied to /lib/systemd/system/weather2.service 

[Unit]
Description=Weather 2 program  
Requires=network.target

[Service]
Type=simple
ExecStart=/usr/share/radio/weather2.py
#Restart=on-failure
#RestartSec=5s

[Install]
WantedBy=multi-user.target
